<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace命名空间,一般情况下与包名一致，为了对sql语句进行隔离，方便管理 ，mapper开发dao方式，使用namespace有特殊作用 -->
<mapper namespace="com.etc.painter.dao.ManagerDao">  <!-- namespace 不能写test关键字 -->
<insert id="addMag" parameterType="Manager" >
insert into t_manager(mag_id,mag_name,mag_job,mag_about,mag_img,mag_date) values(seq_manager.nextval,'${mag_name}','${mag_job}','${mag_about}','${mag_img}','${mag_date}')
</insert>
<select id="query"  resultType="Manager">
 select * from t_manager 
</select>
<select id="selectid" parameterType="Integer" resultType="Manager">
select * from t_manager where mag_id=#{0}
</select>
<select id="querybypage" resultType="Manager">
 select a.* from (select t.*,rownum r1 from (select * from t_manager order by mag_id) t
 where rownum&lt;=#{0}*#{1}) a
 where r1&gt;(#{0}-1)*#{1}
</select> 
<select id="querycount"  resultType="Integer">
select count(*) from t_manager
</select>

<delete id="delete" parameterType="Integer" >
delete from t_manager where mag_id=#{myid}
</delete>
 <update id="update" parameterType="Manager">
update t_manager set mag_name=#{mag_name},mag_job=#{mag_job},mag_about=#{mag_about},mag_img=#{mag_img},mag_date=#{mag_date}where mag_id=#{mag_id}   
</update>
</mapper>



