<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.oneMind.dao.CollectionDao">
	<insert id="addCollection" parameterType="com.oneMind.entity.Collection">
insert into t_collection(collection_student,collection_post)values(#{0},#{1})
	</insert>
	</mapper>