<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.oneMind.dao.LostPostDao">
	
	
	<resultMap type="com.oneMind.entity.Post" id="mymap">
	<id column="post_id" property="post_id"/>
	<result column="post_title" property="post_title"/>
	<result column="post_date" property="post_date"/>
	<result column="post_depict"  property="post_depict"/>
	<result column="post_picture" property="post_picture"/>
	<result column="post_hot" property="post_hot"/>
	<association property="post_student"  javaType="com.oneMind.entity.Student" select="com.oneMind.dao.LostPostDao.queryById" column="post_student">
	</association>
	</resultMap>
	<resultMap type="com.oneMind.entity.Comment" id="myCom">
    <id column="comment_id" property="comment_id"/>
    <result column="comment_content"   property="comment_content"/>
    <result column="comment_date"   property="comment_date"/>
    <association property="comment_student" column="comment_student" javaType="com.oneMind.entity.Student"   select="com.oneMind.dao.LostPostDao.queryById"></association>
    </resultMap>
	
	
	
	
	
	<insert id="addLost" parameterType="com.oneMind.entity.Post" >
	insert into t_post(post_title,post_date,post_depict,post_picture,post_hot,post_state,post_type,post_student) values(#{post_title},#{post_date},#{post_depict},#{post_picture},#{post_hot},#{post_state},#{post_type.type_id},#{post_student.student_id})
	</insert>
	 
   <select id="queryLostByPage" parameterType="int" resultMap="mymap">
	 select s.*  from (select rownum as snum,t.* from(select * from t_post where post_type=2 )t where rownum &lt;=(#{0}*#{1}))s where s.snum &gt;(#{0}-1)*#{1}
	 </select>

	<select id="queryById" parameterType="int" resultType="com.oneMind.entity.Student">
	select * from t_student where student_id=#{0}
	</select> 
	 
	 <select id="getcount" resultType="int">
	 select count(*) from t_post where post_type=2
	 </select>
	 
	 <select id="queryLostById" parameterType="int" resultMap="mymap">
	 select * from t_post where post_id=#{0}
	 </select>
	 
	 <insert id="addComment" parameterType="com.oneMind.entity.Comment" >
	 insert into t_comment(comment_student,comment_post,comment_content,comment_date) 
      values(#{comment_student.student_id},#{comment_post.post_id},#{comment_content},#{comment_date})
	 </insert>
	 
	 <select id="queryComByPost" resultMap="myCom">
	 select * from t_comment where comment_post=#{0}
	 </select>
	</mapper>